<%= render 'layouts/header' %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">symbol</th>
      <th scope="col">priceChange</th>
      <th scope="col">priceChangePercent</th>
      <th scope="col">weightedAvgPrice</th>
      <th scope="col">lastPrice</th>
      <th scope="col">lastQty</th>
      <th scope="col">bidPrice</th>
      <th scope="col">bidQty</th>
      <th scope="col">askPrice</th>
      <th scope="col">askQty</th>
      <th scope="col">openPrice</th>
      <th scope="col">highPrice</th>
      <th scope="col">lowerprice</th>
      <th scope="col">volume</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>symbol</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>

  </tbody>
</table>